* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #414141;
}

::-webkit-scrollbar-thumb {
  background-color: #dfb303;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-thumb:active {
  background-color: #c49c00;
}

body {
  background-color: #eeeeee;
  color: #414141;
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
  color: #414141;
}

.main-header {
  background-color: #414141;
  -webkit-box-shadow: 0 2px 8px 1px black;
          box-shadow: 0 2px 8px 1px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 8vh;
  max-height: 64px;
  padding: 16px;
  position: fixed;
  top: 0;
  z-index: 1;
}

.main-header label {
  cursor: pointer;
}

.logo-nav-container {
  width: 80vw;
  max-width: 472px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  background-color: #414141;
  color: #eeeeee;
  font-family: "Playfair Display", serif;
  font-weight: 900;
}

.logo:hover {
  color: #dfb303;
}

.logo:active {
  color: #c49c00;
}

nav {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 8vh;
  list-style-type: none;
  font-weight: 700;
  background-color: #414141;
  color: #eeeeee;
  position: absolute;
  left: 0;
}

nav .nav-item {
  margin-left: 16px;
  background-color: #414141;
  color: #eeeeee;
}

nav .nav-item:first-of-type {
  margin-left: 0;
}

nav .nav-item:hover {
  color: #dfb303;
}

nav .nav-item:active {
  color: #c49c00;
}

.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle:checked ~ nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-toggle:checked ~ label span:first-child {
  display: none;
}

.nav-toggle:not(:checked) ~ label span:last-child {
  display: none;
}

.nav-toggle-label {
  font-size: 20px;
  background-color: #414141;
  color: #eeeeee;
  z-index: 2;
}

.nav-toggle-label:hover {
  color: #dfb303;
}

.nav-toggle-label:active {
  color: #c49c00;
}

.introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin-top: 56px;
  padding: 32px 16px 40px 16px;
  text-align: center;
  height: 36vh;
  width: 100%;
}

.introduction h1 {
  font-weight: 400;
  font-style: italic;
  opacity: 0;
  -webkit-transform: translateY(-32px);
          transform: translateY(-32px);
  -webkit-animation: fade-in-down 2s ease forwards;
          animation: fade-in-down 2s ease forwards;
}

.introduction h1 span {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-style: normal;
}

.introduction .tw-29 {
  font-family: "Source Code Pro", monospace;
  list-style-type: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 4px auto 24px auto;
  position: relative;
}

.introduction .tw-29::before, .introduction .tw-29::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.introduction .tw-29::before {
  background-color: #eeeeee;
  -webkit-animation: typewriter-animation 3.75s steps(29) 2s forwards;
          animation: typewriter-animation 3.75s steps(29) 2s forwards;
}

.introduction .tw-29::after {
  width: 2px;
  background-color: black;
  -webkit-animation: typewriter-animation 3.75s steps(29) 2s forwards, blink 750ms steps(29) infinite;
          animation: typewriter-animation 3.75s steps(29) 2s forwards, blink 750ms steps(29) infinite;
}

.introduction .std-button {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 16px;
  width: 144px;
  text-align: center;
  padding: 12px 4px;
  border: 2px solid #dfb303;
  border-radius: 8px;
  cursor: pointer;
}

.introduction .std-button a {
  color: #dfb303;
}

.introduction .std-button a span {
  color: #414141;
  font-weight: 700;
}

.introduction .std-button:hover {
  background-color: #dfb303;
}

.introduction .std-button:hover a {
  color: #eeeeee;
}

.introduction .std-button:active {
  background-color: #c49c00;
  border: 2px solid #c49c00;
}

.introduction .std-button:active a {
  color: #eeeeee;
}

.portrait-section {
  height: 44vh;
  width: 100%;
  background-color: gainsboro;
  margin-bottom: 104px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.portrait {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 200px;
  display: block;
}

.main-footer {
  background-color: #414141;
  color: #eeeeee;
  -webkit-box-shadow: 0 2px 8px 1px black;
          box-shadow: 0 2px 8px 1px black;
  width: 100%;
  height: 16vh;
  max-height: 128px;
  text-align: center;
  padding: 8px 0 24px 0;
  position: fixed;
  bottom: 0;
  z-index: 1;
}

.main-footer .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 200px;
  width: 75vw;
  margin: 8px auto 12px auto;
}

.main-footer .socials .social-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 4px;
}

.main-footer .socials .social-container h6 {
  font-size: 8px;
}

.main-footer .socials a {
  background-color: #414141;
  color: #eeeeee;
  margin: 0 4px;
}

.main-footer .socials a:hover {
  color: #dfb303;
}

.main-footer .socials a:active {
  color: #c49c00;
}

.main-footer h6 {
  font-family: "Playfair Display", serif;
}

.other-page, .contact-page {
  margin-top: 56px;
  padding: 24px 0px 32px 0px;
  text-align: left;
  width: 100%;
}

.other-page h1, .contact-page h1 {
  font-weight: 900;
  font-style: italic;
  text-align: center;
  margin-bottom: 16px;
  opacity: 0;
  -webkit-transform: translateY(-32px);
          transform: translateY(-32px);
  -webkit-animation: fade-in-down 2s ease forwards;
          animation: fade-in-down 2s ease forwards;
}

.other-page p, .contact-page p {
  font-size: 20px;
  margin: 0 auto 16px auto;
  width: 65vw;
}

.other-page p:last-of-type, .contact-page p:last-of-type {
  margin-bottom: 104px;
}

.other-page a, .contact-page a {
  color: #dfb303;
}

.other-page a:hover, .contact-page a:hover {
  font-weight: 700;
}

.other-page a:active, .contact-page a:active {
  color: #c49c00;
}

.other-page strong, .contact-page strong {
  color: #414141;
}

.other-page hr, .contact-page hr {
  width: 25vw;
  margin: 1em auto;
  color: #414141;
}

.skills-field {
  text-align: center;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 8px auto;
  width: 300px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-container:last-of-type {
  margin: 8px auto 104px auto;
}

.skill-column {
  text-align: center;
}

.circle-container {
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: #414141;
  color: #dfb303;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin: 8px;
}

.contact-page p {
  text-align: center;
}

.contact-page p:last-of-type {
  margin-bottom: 16px;
}

.contact-page label {
  text-align: center;
  width: 100%;
  margin-bottom: 8px;
  font-weight: 700;
}

.contact-page input[type="text"],
.contact-page input[type="email"] {
  width: 90%;
  height: 32px;
  margin: 0 auto 16px auto;
  border-radius: 4px;
  border-top-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
  border-color: #414141;
  padding: 0 8px;
  font-family: "Raleway", sans-serif;
  color: #414141;
}

.contact-page input[type="text"]:focus,
.contact-page input[type="email"]:focus {
  outline: none;
  background-color: rgba(223, 179, 3, 0.1);
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 300px;
  margin: 0 auto 104px auto;
}

textarea {
  resize: none;
  width: 90%;
  height: 120px;
  margin: 0 auto 16px auto;
  border-radius: 4px;
  border-top-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
  border-color: #414141;
  padding: 12px 8px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #414141;
}

textarea:focus {
  outline: none;
  background-color: rgba(223, 179, 3, 0.1);
}

.send-button {
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 16px;
  width: 104px;
  text-align: center;
  padding: 12px 4px;
  border: 2px solid #dfb303;
  border-radius: 8px;
  cursor: pointer;
  color: #dfb303;
}

.send-button:hover {
  background-color: #dfb303;
  color: #eeeeee;
}

.send-button:active {
  background-color: #c49c00;
  border: 2px solid #c49c00;
}

.send-button:active a {
  color: #eeeeee;
}

@-webkit-keyframes typewriter-animation {
  to {
    left: 100%;
  }
}

@keyframes typewriter-animation {
  to {
    left: 100%;
  }
}

@-webkit-keyframes blink {
  to {
    background-color: transparent;
  }
}

@keyframes blink {
  to {
    background-color: transparent;
  }
}

@-webkit-keyframes fade-in-down {
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fade-in-down {
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .logo-nav-container {
    font-size: 20px;
    margin: 0 auto;
    width: 65%;
    max-width: 616px;
  }
  .nav-menu {
    font-size: 20px;
  }
  .nav-menu .nav-item {
    margin-left: 24px;
  }
  .introduction h1 {
    font-size: 36px;
  }
  .introduction .tw-29 {
    font-size: 20px;
  }
  .portrait {
    width: 230px;
  }
  .other-page h1, .contact-page h1 {
    font-size: 32px;
  }
  .other-page p, .contact-page p {
    font-size: 20px;
    margin: 0 auto 16px auto;
    width: 65%;
    max-width: 616px;
  }
  .main-footer h6 {
    font-size: 12px;
  }
  .skills-field,
  .skill-column {
    font-size: 24px;
  }
  .flex-container {
    width: 400px;
  }
  .circle-container {
    width: 88px;
    height: 88px;
    font-size: 20px;
  }
  .circle-caption {
    font-size: 20px;
  }
  .contact-page {
    margin: 56px auto 0 auto;
  }
  .contact-page label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 72px;
    height: 32px;
  }
  .contact-form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 400px;
  }
  .contact-form input[type="text"],
  .contact-form input[type="email"] {
    width: 320px;
  }
  .contact-form textarea {
    width: 320px;
    height: 200px;
  }
}

@media screen and (min-width: 1025px) {
  .logo-nav-container {
    font-size: 20px;
    margin: 0 auto;
    width: 64vw;
    max-width: 760px;
  }
  .nav-menu {
    font-size: 20px;
  }
  .nav-menu .nav-item {
    margin-left: 24px;
  }
  .introduction h1 {
    font-size: 36px;
  }
  .introduction .tw-29 {
    font-size: 20px;
  }
  .portrait {
    width: 230px;
  }
  .other-page h1, .contact-page h1 {
    font-size: 32px;
  }
  .other-page p, .contact-page p {
    font-size: 20px;
    margin: 0 auto 16px auto;
    width: 64vw;
    max-width: 760px;
  }
  .skills-field,
  .skill-column {
    font-size: 24px;
  }
  .flex-container {
    width: 400px;
  }
  .circle-container {
    width: 88px;
    height: 88px;
    font-size: 20px;
  }
  .circle-caption {
    font-size: 20px;
  }
  .contact-page {
    margin: 56px auto 0 auto;
  }
  .contact-page label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 72px;
    height: 32px;
  }
  .contact-form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 400px;
  }
  .contact-form input[type="text"],
  .contact-form input[type="email"] {
    width: 320px;
  }
  .contact-form textarea {
    width: 320px;
    height: 200px;
  }
}
