@import "config";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
  background-color: $dark-color;
}

::-webkit-scrollbar-thumb {
    background-color: $primary-color;
    border-radius: 5px;

    &:hover, &:active {
        background-color: $dark-primary-color;
    }
}

body {
    background-color: $light-color;
    color: $dark-color;
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    color: $dark-color;
}

.main-header {
    background-color: $dark-color;
    box-shadow: 0 2px 8px 1px black;

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 8vh;
    padding: 16px;
    position: fixed;
    top: 0;
    z-index: 1;
}

.logo {
    @include set-background-color($dark-color);

    font-family: 'Playfair Display', serif;
    font-weight: 900;
    margin-right: 24px;

    &:hover {
        color: $primary-color;
    }

    &:active {
                color: $dark-primary-color;
            }
}

.nav-menu {
    display: flex;
    justify-content: flex-end;
    width: fit-content;
    list-style-type: none;
    font-weight: 700;

    .nav-item {
        margin-left: 12px;

        &:first-of-type {
            margin-left: 0;
        }

        a {
            @include set-background-color($dark-color);

            &:hover {
                color: $primary-color;
            }

            &:active {
                color: $dark-primary-color;
            }
        }
    }
}

.introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;

    margin-top: 56px;
    padding: 32px 16px 40px 16px;
    text-align: center;
    height: 36vh;
    width: 100%;
    
    h1 {
        font-weight: 400;
        font-style: italic;
        opacity: 0;
        transform: translateY(-32px);
        animation: fade-in-down 2s ease forwards;

        span {
            font-family: 'Playfair Display', serif;
            font-weight: 900;
            font-style: normal;
        }
    }

    %typewriter {
        font-family: "Source Code Pro", monospace;
        list-style-type: none;
        width: max-content;

        margin: 4px auto 24px auto;

        position: relative;

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }

    .tw-29 {
        @extend %typewriter;

        &::before {
            background-color: $light-color;
            animation: typewriter-animation $typewriter-speed steps(29) 2s forwards;
        }

        &::after {
            width: 2px;
            background-color: black;
            animation: typewriter-animation $typewriter-speed steps(29) 2s forwards, blink 750ms steps(29) infinite;
        }
    }

    button {
        font-family: 'Raleway', sans-serif;
        font-weight: 900;
        font-style: normal;
        font-size: 16px;
        width: 120px;
        text-align: center;

        padding: 12px 0;
        border: 2px solid $primary-color;
        border-radius: 8px;
        cursor: pointer;

        a {
            color: $primary-color;
        }

        &:hover {
            background-color: $primary-color;

            a {
                color: $light-color;
            }
        }

        &:active {
            background-color: $dark-primary-color;
            border: 2px solid $dark-primary-color;

            a {
                color: $light-color;
            }
        }
    }
}

.portrait-section {
    height: 44vh;
    width: 100%;
    background-color: gainsboro;
    // margin-bottom: 56px;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.portrait {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    width: 200px;
    display: block;
}

.main-footer {
    @include set-background-color($dark-color);
    box-shadow: 0 2px 8px 1px black;

    width: 100%;
    height: 16vh;
    text-align: center;
    padding: 16px 0 32px 0;
    position: fixed;
    bottom: 0;
    z-index: 1;

    .socials {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        max-width: 300px;
        width: 56vw;
        margin: 0 auto;
        margin-bottom: 12px;

        a {
            @include set-background-color($dark-color);
            margin: 4px;

            &:hover {
                color: $primary-color;
            }

            &:active {
                color: $dark-primary-color;
            }
        }
    }

    h6 {
        font-family: 'Playfair Display', serif;
    }
}

.about {
    margin-top: 56px;
    padding: 24px 0px 32px 0px;
    text-align: left;
    width: 100%;

    h1 {
        font-weight: 700;
        font-style: italic;
        text-align: center;

        margin-bottom: 16px;

        opacity: 0;
        transform: translateY(-32px);
        animation: fade-in-down 2s ease forwards;
    }

    p {
        font-size: 20px;
        margin-left: 75px;
        margin-right: 75px;
        margin-bottom: 16px;

        &:last-of-type {
            margin-bottom: 112px;
        }
    }

    a {
        color: $primary-color;

        &:hover {
            font-weight: 700;
        }

        &:active {
            color: $dark-primary-color;
        }
    }
}

@keyframes typewriter-animation {
        to {
            left: 100%;
        }
    }

@keyframes blink {
        to {
            background-color: transparent;
        }
    }

@keyframes fade-in-down {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@import "laptop";
@import "desktop";