@import "config";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: $dark-color;
}

::-webkit-scrollbar-thumb {
    background-color: $primary-color;
    border-radius: 5px;

    &:hover,
    &:active {
        background-color: $dark-primary-color;
    }
}

body {
    background-color: $light-color;
    color: $dark-color;
    font-family: "Raleway", sans-serif;
}

a {
    text-decoration: none;
    color: $dark-color;
}

.home-page {
    height: 100%;
}

.main-header {
    background-color: $dark-color;
    box-shadow: 0 2px 8px 1px black;

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 8vh;
    max-height: 64px;
    padding: 16px;
    position: fixed;
    top: 0;
    z-index: 1;

    label {
        cursor: pointer;
    }
}

.logo-nav-container {
    width: 80vw;
    max-width: 472px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    @include set-background-color($dark-color);

    font-family: "Playfair Display", serif;
    font-weight: 900;

    &:hover {
        color: $primary-color;
    }

    &:active {
        color: $dark-primary-color;
    }
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2em;
    list-style-type: none;
    font-weight: 700;
    @include set-background-color($dark-color);
    position: absolute;
    left: 0;
    transform: scale(0, 1);
    transform-origin: right;
    transition: transform 400ms ease-in-out;

    .nav-item {
        margin-left: 16px;
        @include set-background-color($dark-color);
        opacity: 0;
        transition: opacity 150ms ease-in-out;

        &:first-of-type {
            margin-left: 0;
        }

        &:hover {
            color: $primary-color;
        }

        &:active {
            color: $dark-primary-color;
        }
    }
}

.nav-toggle {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;

    &:checked ~ nav {
        transform: scale(1, 1);
    }

    &:checked ~ nav a {
        opacity: 1;
        transition: opacity 250ms ease-in-out 250ms;
    }

    &:checked ~ label span:first-child {
        display: none;
    }

    &:not(:checked) ~ label span:last-child {
        display: none;
    }
}

.nav-toggle-label {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    width: 8vh;
    font-size: 20px;
    @include set-background-color($dark-color);
    z-index: 2;

    &:hover {
        color: $primary-color;
    }

    &:active {
        color: $dark-primary-color;
    }
}

.introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;

    margin-top: 56px;
    padding: 32px 16px 40px 16px;
    text-align: center;
    height: 35vh;
    width: 100%;

    h1 {
        font-weight: 400;
        font-style: italic;
        opacity: 0;
        transform: translateY(-32px);
        animation: fade-in-down 2s ease forwards;

        span {
            font-family: "Playfair Display", serif;
            font-weight: 900;
            font-style: normal;
        }
    }

    %typewriter {
        font-family: "Source Code Pro", monospace;
        list-style-type: none;
        width: max-content;

        margin: 4px auto 24px auto;

        position: relative;

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }

    .tw-29 {
        @extend %typewriter;

        &::before {
            background-color: $light-color;
            animation: typewriter-animation $typewriter-speed steps(29) 2s forwards;
        }

        &::after {
            width: 2px;
            background-color: black;
            animation: typewriter-animation $typewriter-speed steps(29) 2s forwards, blink 750ms steps(29) infinite;
        }
    }

    .std-button {
        font-family: "Raleway", sans-serif;
        font-weight: 900;
        font-style: normal;
        font-size: 16px;
        width: 144px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 12px 4px;
        border: 2px solid $primary-color;
        border-radius: 8px;
        cursor: pointer;

        a {
            color: $primary-color;

            span {
                color: $dark-color;
                font-weight: 700;
            }
        }

        &:hover {
            background-color: $primary-color;

            a {
                color: $light-color;
            }
        }

        &:active {
            background-color: $dark-primary-color;
            border: 2px solid $dark-primary-color;

            a {
                color: $light-color;
            }
        }
    }
}

.portrait-section {
    height: 45vh;
    max-height: 320px;
    width: 100%;
    background-color: gainsboro;
    margin-bottom: 16vh;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.portrait {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    width: 200px;
    display: block;
}

.main-footer {
    @include set-background-color($dark-color);
    box-shadow: 0 2px 8px 1px black;

    width: 100%;
    height: 16vh;
    max-height: 128px;
    text-align: center;
    padding: 8px 0 24px 0;
    position: fixed;
    bottom: 0;
    z-index: 1;

    .socials {
        display: flex;
        justify-content: space-around;
        max-width: 200px;
        width: 75vw;
        margin: 8px auto 12px auto;

        .social-container {
            display: flex;
            margin: 0 4px;

            h6 {
                font-size: 8px;
            }
        }

        a {
            @include set-background-color($dark-color);
            margin: 0 4px;

            &:hover {
                color: $primary-color;
            }

            &:active {
                color: $dark-primary-color;
            }
        }
    }

    h6 {
        font-family: "Playfair Display", serif;
    }
}

.other-page {
    margin-top: 56px;
    padding: 24px 0px 32px 0px;
    text-align: left;
    width: 100%;

    h1 {
        font-weight: 900;
        font-style: italic;
        text-align: center;

        margin-bottom: 16px;

        opacity: 0;
        transform: translateY(-32px);
        animation: fade-in-down 2s ease forwards;
    }

    p {
        font-size: 20px;
        margin: 0 auto 16px auto;
        width: 65vw;

        &:last-of-type {
            margin-bottom: 104px;
        }
    }

    a {
        color: $primary-color;

        &:hover {
            font-weight: 700;
        }

        &:active {
            color: $dark-primary-color;
        }
    }

    strong {
        color: $dark-color;
    }

    hr {
        width: 25vw;
        margin: 1em auto;
        color: $dark-color;
    }
}

.skills-field {
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: center;
    margin: 8px auto;
    width: 300px;
    flex-wrap: wrap;

    &:last-of-type {
        margin: 8px auto 104px auto;
    }
}

.skill-column {
    text-align: center;
}

.circle-container {
    display: grid;
    place-items: center;
    background-color: $dark-color;
    color: $primary-color;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin: 8px;
}

.contact-page {
    @extend .other-page;

    p {
        text-align: center;

        &:last-of-type {
            margin-bottom: 16px;
        }
    }

    label {
        text-align: center;
        width: 100%;
        margin-bottom: 8px;
        font-weight: 700;
    }

    input[type="text"],
    input[type="email"] {
        width: 90%;
        height: 32px;
        margin: 0 auto 16px auto;
        border-radius: 4px;
        border-top-style: hidden;
        border-left-style: hidden;
        border-right-style: hidden;
        border-color: $dark-color;
        padding: 0 8px;
        font-family: "Raleway", sans-serif;
        color: $dark-color;

        &:focus {
            outline: none;
            background-color: rgba($color: $primary-color, $alpha: 0.1);
        }
    }
}

.contact-form {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    margin: 0 auto 104px auto;
}

textarea {
    resize: none;
    width: 90%;
    height: 120px;
    margin: 0 auto 16px auto;
    border-radius: 4px;
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    border-color: $dark-color;
    padding: 12px 8px;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    color: $dark-color;

    &:focus {
        outline: none;
        background-color: rgba($color: $primary-color, $alpha: 0.1);
    }
}

.send-button {
    margin: 0 auto;
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 16px;
    width: 104px;
    text-align: center;

    padding: 12px 4px;
    border: 2px solid $primary-color;
    border-radius: 8px;
    cursor: pointer;

    color: $primary-color;

    &:hover {
        background-color: $primary-color;
        color: $light-color;
    }

    &:active {
        background-color: $dark-primary-color;
        border: 2px solid $dark-primary-color;

        a {
            color: $light-color;
        }
    }
}

// Portfolio Page

.portfolio-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 90vw;
    max-width: 368px;
    height: 100%;
    max-height: 125px;
    border: 2px solid $dark-color;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    margin: 0.75em;
}

.card-image {
    width: 75vw;
    max-width: 368px;

    img {
        max-width: 368px;
    }
}

.card-title {
    background-color: rgba($color: $dark-color, $alpha: 0.8);
    color: $light-color;
    width: 100%;
    height: 35%;
    padding: 0.25em;
    position: absolute;
    left: 0px;
    bottom: -1px;
    border-top: 1px solid $dark-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-button {
    font-family: "Raleway", sans-serif;
    width: 5em;
    height: 85%;
    font-weight: 900;
    font-style: normal;
    font-size: 0.85em;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 4px 2px;
    border: 2px solid $primary-color;
    border-radius: 8px;
    cursor: pointer;

    a {
        color: $primary-color;
    }

    &:hover {
        background-color: $primary-color;

        a {
            color: $light-color;
            font-weight: 900;
        }
    }

    &:active {
        background-color: $dark-primary-color;
        border: 2px solid $dark-primary-color;

        a {
            color: $light-color;
        }
    }
}

@keyframes typewriter-animation {
    to {
        left: 100%;
    }
}

@keyframes blink {
    to {
        background-color: transparent;
    }
}

@keyframes fade-in-down {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@import "mobile";
@import "laptop";
@import "desktop";
